{% extends 'base.html.twig' %}

{% block title %}Profil de {{ participant.pseudo }} {% endblock %}

{% block body %}
    <div class="edit_participant">
     <h1>Profil de  {{ participant.pseudo }} </h1>

  {{ form_start(participantForm) }}
    {% if participantForm.photo is not null %}
        {{ form_row(participantForm.photo) }}
    {% endif %}
    {{ form_row(participantForm.pseudo) }}
    {{ form_row(participantForm.nom) }}
    {{ form_row(participantForm.prenom) }}
    {{ form_row(participantForm.email) }}
    {{ form_row(participantForm.telephone) }}
    <td><button class="btn" type="submit" name="submit">Enregistrer</button></td>
    {{ form_end(participantForm) }}

    <a href="{{ path('app_participant_index') }}">Liste des participants</a>
    </div>
{% endblock %}
