{% extends 'base.html.twig' %}

{% block title %}Modifier {{ participant.pseudo }} {% endblock %}

{% block body %}
     <h1>Modifier {{ participant.pseudo }} </h1>

    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <td><button class="btn" type="submit" name="submit">Enregistrer</button></td>
    {{ form_end(participantForm) }}

{#    Ce lien ne doit être accessible que pour l'admin (VQ)
    <a href="{{ path('app_participant_index') }}">Liste des participants</a>#}
{% endblock %}
