{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="user_admin">
        <h1>Liste des users</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tél.</th>
                <th>Pseudo</th>
                <th>Campus</th>
                <th>Role</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.campus.nom }}</td>
                    <td>{{ user.roles[0] }}</td>
                    {% if user.actif == 1 %}
                        <td style="color: green">
                            oui
                        </td>
                    {% else %}
                        <td style="color: red">
                            non
                        </td>
                    {% endif %}
                    <td>
                        {% if user.actif == 1 %}
                            <a href="{{ path('app_admin_desactivate', {'id': user.id}) }}">désactivé le compte</a>
                            -
                            <a href="{{ path('app_participant_edit', {'id': user.id}) }}">Edit</a>
                        {% else %}
                            <a href="{{ path('app_admin_activate', {'id': user.id}) }}">activé le compte</a>
                            -
                            <a href="{{ path('app_participant_edit', {'id': user.id}) }}">Edit</a>
                            -
                            <a href="{{ path('app_participant_delete', {'id': user.id}) }}">Supprimer le compte</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_admin_register') }}">Créer un nouveau compte</a>
    </div>
{% endblock %}
