{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="index_Participant">
        <h1>Liste des participants</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Actions</th>
                {#  <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Actif</th>#}
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.telephone }}</td>
                    {# <td>{{ participant.id }}</td> #}
                    {# <td>{{ participant.email }}</td> #}
                    {# <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td> #}
                    {# <td>{{ participant.password }}</td> #}
                    {# <td>{{ participant.actif ? 'Yes' : 'No' }}</td> #}
                    <td>
                        <a href="{{ path('app_participant_show', {'id': participant.id}) }}">Détails</a>
                        <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn"><a href="{{ path('app_participant_new') }}">Créer un nouveau profil</a></button>
    </div>
{% endblock %}
