{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="index_Participant">
        <h1>Liste des participants</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>

                    <div class="boutons">
                        <div class="btn"><a href="{{ path('app_participant_show', {'id': participant.id}) }}">Détails</a></div>
                        <div class="btn"><a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a></div>
                            <div class="btn"><a href="{{ path('app_participant_delete', {'id': participant.id}) }}">Supprimer</a></div>
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn"><a href="{{ path('app_participant_new') }}">Créer un nouveau profil</a></button>
    </div>
{% endblock %}
