{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <div class="index_campus">
        <link rel="stylesheet" href="{{ asset('CSS/SCSS/style.scss') }}">

    <h1>Campus index</h1>
        {#  Recherche d'un campus  #}
        <form class="searchBar" method="get" action="{{ path('app_campus_index') }}">
            <input type="text" id="search" name="search" placeholder="Rechercher un campus">
            <button type="submit">Rechercher</button>
            </form>
    <table class="table">
        <thead>
            <tr>

                <th>Campus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('app_campus_show', {'id': campus.id}) }}">show</a>
                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>

                </td>
            </tr>
            {% if loop.last  %}
                <tr>

                    {{ form_start(campusForm) }}
                    <td>{{ form_row(campusForm.nom) }}</td>
                    <td><button>Enregistrer</button></td>
                    {{ form_end(campusForm) }}
                </tr>
            {% endif %}
        {% else %}

            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
