{% extends 'base.html.twig' %}

{% block title %}Creer une sortie | {{ parent() }}{% endblock %}

{% block body %}
<div class="createSortie">
    <h2>Créer une sortie</h2>

    {{ form_errors(SortieCreateType) }}

    {{ form_start(SortieCreateType) }}
    {{ form_widget(SortieCreateType) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(SortieCreateType) }}

</div>
{% endblock %}
