{% extends 'base.html.twig' %}

{% block title %}Modification sortie | {{ parent() }}{% endblock %}

{% block body %}
    <div class="new_Sortie">
        <h1>Modifier une sortie</h1>
            <div class="sortie_detail">
                {{ form_start(form) }}
                {{ form_widget(form) }}
{#                <form name="sortie" method="post">#}
{#                    <div>#}
{#                        <label for="sortie_nom" class="required">Nom de la sortie : </label>#}
{#                        <input type="text" id="sortie_nom" name="sortie[nom]" required="required" value={{ sortie.nom }}>#}
{#                    </div>#}
                        {# problème pour afficher la date prédéfinie #}
               {#     <div>
                        <label for="sortie_dateHeureDebut" class="required">Date et heure de la sortie : </label>
                        <input type="datetime-local" id="sortie_dateHeureDebut" name="sortie[dateHeureDebut]" required="required" value={{ sortie.dateHeureDebut|date('Y-m-d\\TH:i') }}>
                    </div>
                    <div>
                        #}{# problème pour afficher la date prédéfinie #}{#
                        <label for="sortie_dateLimiteInscription" class="required">Date limite d'inscription : </label>
                        <input type="date" id="dateLimiteInscription" name="sortie[dateLimiteInscription]" required="required" value={{ sortie.dateLimiteInscription|date('Y-m-d') }}>
                    </div>
                    <div>
                        <label for="sortie_nbInscriptionsMax" class="required">Nombre de places : </label>
                        <input type="number" id="sortie_nbInscriptionsMax" name="sortie[nbInscriptionsMax]" required="required" value={{ sortie.nbInscriptionsMax }}>
                    </div>
                    <div>
                        <label for="sortie_duree" class="required">Durée (min): </label>
                        <input type="number" id="sortie_duree" name="sortie[duree]" required="required" value={{ sortie.duree }}>
                    </div>
                    <div>
                        <label for="sortie_infosSortie" class="required">Description et infos : </label>
                        <textarea id="sortie_infosSortie" name="sortie[infosSortie]" value="">{{ sortie.infosSortie }}</textarea>
                    #}</div>
                    {# problème pour afficher la liste des campus #}
                    <label for="sortie_campus" class="required">Campus : {{ sortie.campus.nom }}</label>

{#                    <div>#}
{#                        <label for="sortie_campus" class="required">Campus : </label>#}
{#                        <select id="sortie_campus" name="sortie[infosCampus]" required="required">#}
{#                             <option value="" selected="selected" disabled >{{ sortie.campus.nom }}</option>#}
{#                            {% for campus in sortie.organisateur.campus %}#}
{#                                <option value="{{ campus.id }}">{{ campus.nom }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
                    {# problème pour afficher la liste des lieux #}
                    <div>
                        <label for="sortie_lieu" class="required">Lieu : </label>
                        <select id="sortie_lieu" name="sortie[lieu]" required="required">
                            <option value="" selected="selected" disabled> {{ sortie.lieu.nom }} (à confirmer ou modifier dans la liste)</option>
                            {% for ville in villes %}
                                <optgroup label="{{ ville.nom }}">
                                    {% for lieu in ville.getLieus %}
                                        <option value="{{ lieu.id }}">{{ lieu.nom }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="sortie_rue" class="required">Rue : {{ sortie.lieu.rue }}</label>
                    </div>
                    <div>
                        <label for="sortie_codePostal" class="required">Code postal : {{ sortie.lieu.ville.codePostal }}</label>
                    </div>
                    <div>
                        <label for="sortie_ville" class="required">Ville : {{ sortie.lieu.ville.nom }}</label>
                    </div>
                    <div>
                        <label for="sortie_latitude" >Latitude : {{  sortie.lieu.latitude }}</label>
                    </div>
                    <div>
                        <label for="sortie_longitude" >Longitude : {{  sortie.lieu.longitude }}</label>
                    </div>
                    <div><a href="{{ path('app_lieu_new') }}">
                            <img class="plus" src="{{ asset('img/plus.png') }}" alt="Créer un nouveau lieu" width="10%"></a>
                    </div>

                <div>
              {# {{ include('sortie/_form.html.twig', {'button_label': 'Enregistrer'}) }}#}
                    <div class="boutons">
                        <button class="btn" name=submit value="enregistrer">Enregistrer</button>
                        <button class="btn" name=submit value="publier">Publier la sortie</button>
                        <button class="btn" name=submit value="supprimer">Supprimer la sortie</button>
                        <button class="btn" name=submit value="annuler"><a href="{{ path('app_sortie_index') }}">Annuler</a></button>
                    </div>
                </div>
         {{ form_end(form) }}
{#         </form>#}
    </div>
{% endblock %}
