{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie | {{ parent() }}{% endblock %}
{% block body %}
    <div class="new_Sortie">

    <h1>Créer une nouvelle sortie</h1>

    <h2>Salut {{ app.user.pseudo }} !</h2>

        <h3>Campus de {{ app.user.campus.nom}} </h3>
            <div class="formulaire">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div>
                    <label for="sortie_lieu">Lieu :</label>
                    <select name="sortie[lieu]" id="sortie_lieu" required="required">
                        <option value="" selected="selected" disabled>Choisissez un lieu</option>
                        {% for ville in villes %}
                            <optgroup label="{{ ville.nom }}">
                            {% for lieu in ville.getLieus %}
                                <option value="{{ lieu.id }}">{{ lieu.nom }}</option>
                            {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <a href="{{ path('app_lieu_new') }}">
                    <img class="plus" src="{{ asset('img/plus.png') }}" alt="Créer un nouveau lieu" width="10%"></a>

            </div>
            <div class="boutons">
                <button class="btn" name=submit value="enregistrer">Enregistrer</button>
                <button class="btn" name=submit value="publier">Publier la sortie</button>
                <button class="btn" name=submit value="annuler"><a href="{{ path('app_sortie_index') }}">Annuler</a></button>
            </div>
                {{ form_end(form) }}
    </div>
{% endblock %}
