{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}


{% block body %}
    <div class="index_Ville">
        <h1>Liste des villes</h1>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>CodePostal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                        <a href="{{ path('app_ville_delete', {'id': ville.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



        <h2>Créer une nouvelle ville</h2>

        {{ include('ville/_form.html.twig') }}

        <a href="{{ path('app_ville_index') }}">Retour à la liste des villes</a>


    </div>
{% endblock %}





