{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}


{% block body %}
    <div class="index_Ville">
        <h1>Gérer les villes</h1>
        <h2>Filtrer les villes</h2>
        {#  Recherche d'une ville (par nom ou code postal dans la liste #}
        <form method="get" action="{{ path('app_ville_index') }}">
            <label for="search">Le nom contient :</label>
            <input type="text" id="search" name="search">
            <button type="submit">Rechercher</button>
        </form>

        {#  Affichage de la liste des villes #}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>CodePostal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    {# Détails de la ville #}
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        {# Modifier la ville #}
                        <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                        {# Supprimer la ville #}
                        <a href="{{ path('app_ville_delete', {'id': ville.id}) }}" >Supprimer</a>
                    </td>
                </tr>
                <tr>
                {% if loop.last %}
                        {{ form_start(villeForm) }}
                        <td>{{ form_row(villeForm.nom) }}</td>
                        <td>{{ form_row(villeForm.codePostal) }}</td>
                        <td><button class="btn" type="submit" name="submit">Enregistrer</button></td>
                        {{ form_end(villeForm) }}
                {% endif %}
                </tr>
            {% else %}
                <tr class="newVille">
                    {{ form_start(villeForm) }}
                    <td>{{ form_row(villeForm.nom) }}</td>
                    <td>{{ form_row(villeForm.codePostal) }}</td>
                    <td><button class="btn" type="submit" name="submit">Enregistrer</button></td>
                    {{ form_end(villeForm) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}





