<nav>
    <ul>
        <li><a href="{{ path('app_ville_index') }}" title="index_ville">Villes</a></li>
        {# <li><a href="{{ path('/admin/campus/') }}" title="index_campus">Campus</a></li> #}
        <li><a href="{{ path('app_login') }}" title="login">Accueil</a></li>
        <li><a href="{{ path('app_participant_new') }}" title="Mon profil">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="logout">Se déconnecter</a></li>
        <li><a href="{{ path('app_sortie_new') }}" title="create">Création de sorties</a></li>
    </ul>
</nav>