<nav>
    <ul>
        <li><a href="{{ path('app_login') }}" title="login">Login</a></li>
        <li><a href="{{ path('app_logout') }}" title="logout">logout</a></li>
        <li><a href="{{ path('app_admin_register') }}" title="register">Register</a></li>
        <li><a href="{{ path('app_sortie_new') }}" title="create">Création de sorties</a></li>
        <li><a href="{{ path('app_ville_index') }}" title="index">Gérer les villes</a></li>
        <li><a href="{{ path('/admin/campus/') }}" title="index">Gérer les Campus</a></li>
    </ul>
</nav>